.DS_Store
artifacts/*
backend/node_modules/*
!backend/node_modules/gitHubEs
frontend/node_modules/*
frontend/dist/*
backend/Dockerfile.zip
deployment/terraform.tfvars
deployment/.terraform.tfstate.lock.info
deployment/.terraform.tfstate
deployment/.terraform.tfstate.backup
deployment/terraform.tfstate
deployment/terraform.tfstate.backup
