.DS_Store
artifacts/*
backend/node_modules/*
!backend/node_modules/github-es
frontend/node_modules/*
frontend/dist/*
engcom/node_modules/*
engcom/dist/*
public/node_modules/*
public/dist/*
es-em/node_modules/*
es-em/frontend/dist/*
es-em/frontend/node_modules/*
widget/node_modules/*
widget/dist/*
backend/Dockerfile.zip
deployment/terraform.tfvars
deployment/.terraform.tfstate.lock.info
deployment/.terraform.tfstate
deployment/.terraform.tfstate.backup
deployment/terraform.tfstate
deployment/terraform.tfstate.backup
widget
