<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Magento Partners</title> 
        <!--script src="https://s3.amazonaws.com/public.magento.com/partners.leaderboard.js"></script-->
    </head>
    <body ng-app="gitStatUI">
        
        <header id="nav-main" class="nav-main partners">
            <div class="container">
                <div class="nav-logo-subsite partners">
                    <a href="https://partners.magento.com/portal/">
                        <span class="logo-main">Magento</span>
                        <span class="logo-subsite">Partners</span>
                    </a>
                    <div class="magento-link-wrapper">
                        <a class="magento-link" href="https://magento.com/">Go to<br>Magento.com</a>
                    </div>
                </div>
            </div>
            
        </header>
         
        <!--div class="header" style="background-color:white; border-bottom:1px solid #CCC;">
            <div class="row">
                <img src="img/placeholder-resources-header.png">
                <div class="nav-logo-subsite partners">
                    <a href="https://partners.magento.com/portal/">
                        <span class="logo-main">Magento</span>
                        <span class="logo-subsite">Partners</span>
                    </a>
                    <div class="magento-link-wrapper">
                        <a class="magento-link" href="https://magento.com/">Go to<br>Magento.com</a>
                    </div>
                </div>
            </div>
            
        </div-->

<div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
            </ul>
        </div> 
              

        <div id="container" class="container">

            <div class="well">
<div class="row-fluid">
<div class="span12">
<h3><span class="fa-stack" style="font-size:20px;"><i class="fa fa-circle fa-stack-2x teal"></i> <i class="fa fa-question fa-stack-1x fa-inverse"></i> </span>Contributions</h3>

<p>Contributions from the Community of Magento developers is the foundation of the open source component of the Magento platform. Contributions are the source code patches either with the fixes for the issues or with the new funcitionality delivered to the Magento by external developers (Community or the Partners). Magento is using GitHub for source code version control and GitHub Pull Requests are the best way of delivering fixes to the Magento source code.
</p>
</div>
</div>
</div>
            <div class="well well-border">
                <div class="row-fluid">
                    <div class="span12">
                        <p>      
                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                <div class="field-items">
                                    <div class="field-item even" ng-controller="OpenSourceController">
                                        <open-source-element></open-source-element>
                                    </div>
                                    <div class="field-item even" ng-controller="TeamsController">
                                        <team-element size="-1" showselect="1" showbutton="0" showsizeselector="1"></team-element>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>  
        </div>
    </body>
</html>